DATABASE_URL=mssql+pyodbc://admin:password@database.xxxxxx.rds.amazonaws.com:1433/ma_base?driver=ODBC+Driver+18+for+SQL+Server
# SECRET_KEY : clé secrète utilisée pour signer et vérifier les JWT (doit être longue et aléatoire)
SECRET_KEY=change_me_with_a_strong_random_key