{% extends 'base.html' %}
{% block title %}{{ 'Modifier' if matiere else 'Ajouter' }} une matière{% endblock %}
{% block content %}
<div class="ph">
  <div><h1>{% if matiere %}<i class="bi bi-pencil-square"></i> Modifier{% else %}+ Ajouter{% endif %} une matière</h1></div>
  <a href="/EDE/admin/matieres" class="btn btn-sec">← Retour</a>
</div>
<div class="card" style="max-width:480px">
  <form method="post">
    <div class="form-group">
      <label>Nom de la matière</label>
      <input name="nom" required value="{{ matiere.nom if matiere else '' }}">
    </div>
    <div class="form-row">
      <div class="form-group">
        <label>Coefficient</label>
        <input name="coefficient" type="number" step="0.5" min="0.5" max="10"
               value="{{ matiere.coefficient if matiere else '1' }}">
      </div>
      <div class="form-group">
        <label>Volume horaire</label>
        <input name="volume_horaire" value="{{ matiere.volume_horaire if matiere else '' }}"
               placeholder="ex: 30h">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">
      {% if matiere %}<i class="bi bi-pencil-square"></i> Enregistrer{% else %}+ Créer{% endif %}
    </button>
  </form>
</div>
{% endblock %}
